<div class="container" *ngIf="!!lots$?.value?.length; else empty">
    <div class="text-line">There are you bids</div>
    <app-hr></app-hr>
    <div *ngFor="let lot of lots$.value">
        <div class="card">
            <img [src]="createImgPath(lot.image)" alt="profile picture">
            <div class="main-block">
                <h1>{{lot.nameLot}}</h1>
                <div class="title">{{lot.description}}</div>
                <div class="title">Contact {{lot.user.email}} </div>
            </div>

            <div class="sold">
                <button *ngIf="!lot.isSold" class="green" routerLink="/lot/{{lot.id}}">Future Lot {{lot.currentPrice |
                    currency}}</button>
                <button *ngIf="lot.isSold" class="red" routerLink="/lot/{{lot.id}}">Sold for {{lot.currentPrice |
                    currency}}</button>
            </div>
        </div>
    </div>
</div>

<ng-template #empty>
    <app-empty-view></app-empty-view>
</ng-template>