<div class="form">
    <div class="reset-from">
        <form method="post" #resetForm="ngForm" (ngSubmit)="resetPassword(resetForm)">
            <div>
                <p>Create new password</p>
                <input type="password" placeholder="Enter New Password" id="NewPassword" name="NewPassword"
                    pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$" minlength="6" #NewPassword="ngModel" ngModel
                    required>
                <div class="error" *ngIf="NewPassword.errors?.required && NewPassword.touched">Required field</div>
                <div class="error" *ngIf="NewPassword.errors?.minlength && NewPassword.touched">Min length 6</div>
                <div class="error" *ngIf="NewPassword.errors?.pattern && NewPassword.touched">At least one letter and
                    one number</div>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>