<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<ng-template [ngIf]="isAuth">
    <div class="login-btn">
        <button id="logout-btn" (click)="logout()">Logout</button>
    </div>
</ng-template>

<div class="login-form">
    <div class="login-content">
        <div>
            <span (click)="close()" class="close" title="Close Modal">&times;</span>
        </div>
        <div class="container" [formGroup]="loginForm">
            <p>Sign in</p>
            <div class="has-tooltip">
                <input type="text" placeholder="Enter Email" name="email" formControlName="Email" email>
                <p class="tooltip"
                    *ngIf="loginForm.controls.Email.errors?.required && loginForm.controls.Email.touched">
                    Email is required</p>
                <p class="tooltip" *ngIf="loginForm.controls.Email.errors?.email && loginForm.controls.Email.touched">
                    Incorect email</p>
            </div>
            <div class="has-tooltip">
                <input type="password" placeholder="Enter Password" name="email" formControlName="Password">
                <p class="tooltip"
                    *ngIf="loginForm.controls.Password.errors?.required && loginForm.controls.Password.touched">
                    Password is required</p>
                <p class="tooltip"
                    *ngIf="loginForm.controls.Password.errors?.minlength && loginForm.controls.Password.touched">
                    Min length 6</p>
            </div>
            <button (click)="login()" [disabled]="loginForm.invalid">Login</button>
        </div>
        <div class="regis-btn">
            <button (click)="openResetForm()" class="underline">
                <p>Forgot password?</p>
            </button>
        </div>
        <div class="center">
            <app-facebook-login></app-facebook-login>
            <app-google-login></app-google-login>
        </div>
        <div class="regis-btn">
            <p>Need to create an account? <button (click)="openRegisterForm()" class="underline">
                    <p>Sign up here</p>
                </button></p>
        </div>
    </div>
</div>