<div class="sort">
  <button mat-button [matMenuTriggerFor]="sortprice">Sort By Price</button>
  <mat-menu #sortprice="matMenu">
    <button (click)="sortingData(null, FilterConstants.CurrentPrice)" mat-menu-item>Remove filter</button>
    <button (click)="sortingData(SortViewMode.ASC, FilterConstants.CurrentPrice)" mat-menu-item>Ascending</button>
    <button (click)="sortingData(SortViewMode.DESC, FilterConstants.CurrentPrice)" mat-menu-item>Descending</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="sortdate">Sort by Date</button>
  <mat-menu #sortdate="matMenu">
    <button (click)="sortingData(null, FilterConstants.StartDateTime)" mat-menu-item>Remove filter</button>
    <button (click)="sortingData(SortViewMode.ASC, FilterConstants.StartDateTime)" mat-menu-item>Ascending</button>
    <button (click)="sortingData(SortViewMode.DESC, FilterConstants.StartDateTime)" mat-menu-item>Descending</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="sortyear">Sort by Year</button>
  <mat-menu #sortyear="matMenu">
    <button (click)="sortingData(null, FilterConstants.Year)" mat-menu-item>Remove filter</button>
    <button (click)="sortingData(SortViewMode.ASC, FilterConstants.Year)" mat-menu-item>Ascending</button>
    <button (click)="sortingData(SortViewMode.DESC, FilterConstants.Year)" mat-menu-item>Descending</button>
  </mat-menu>
</div>
<hr>
<div class="lots">
  <app-mat-spinner *ngIf="!lots?.length" [diameter]="500" [strokeWidth]="50"></app-mat-spinner>
  <div *ngFor="let lot of lots">
    <div class="card" *ngIf="!lot.isSold">
      <div class="timer">
        <p id="timer-{{lot.id}}"></p>
      </div>
      <img [src]="createImgPath(lot.image)" alt="profile picture">
      <div class="favorite">
        <a id="star-{{lot.id}}" class="unstar" (click)="changeStar(lot.id)">&#9733;</a>
      </div>
      <div class="main-block">
        <p bold>{{lot.nameLot}}</p>
        <div class="title">{{lot.description}}</div>
      </div>
      <button routerLink="/bid/lot/{{lot.id}}">Bid {{lot.currentPrice | currency}}</button>
    </div>
  </div>
</div>