<div class="register-form">
    <div class="register-content">
        <div>
            <span (click)="close()" class="close" title="Close Modal">&times;</span>
        </div>
        <div class="container" [formGroup]="registerForm">
            <p>Sign up</p>
            <div class="has-tooltip">
                <input type="text" placeholder="Enter Email" formControlName="Email" email>
                <p class="tooltip"
                    *ngIf="registerForm.controls.Email.errors?.required && registerForm.controls.Email.touched">
                    Email is required</p>
                <p class="tooltip"
                    *ngIf="registerForm.controls.Email.errors?.email && registerForm.controls.Email.touched">
                    Incorect email</p>
            </div>
            <div class="has-tooltip">
                <input type="password" placeholder="Enter Password" formControlName="Password">
                <p class="tooltip"
                    *ngIf="registerForm.controls.Password.errors?.required && registerForm.controls.Password.touched">
                    Password is required</p>
                <p class="tooltip"
                    *ngIf="registerForm.controls.Password.errors?.minlength && registerForm.controls.Password.touched">
                    Min length 6</p>
            </div>
            <div class="has-tooltip">
                <input type="text" placeholder="Enter Name" formControlName="Name">
                <p class="tooltip"
                    *ngIf="registerForm.controls.Name.errors?.required && registerForm.controls.Name.touched">
                    Name is required</p>
                <p class="tooltip"
                    *ngIf="registerForm.controls.Name.errors?.pattern && registerForm.controls.Name.touched">
                    Only letters</p>
            </div>
            <div class="has-tooltip">
                <input type="text" placeholder="Enter Surname" formControlName="Surname">
                <p class="tooltip"
                    *ngIf="registerForm.controls.Surname.errors?.required && registerForm.controls.Surname.touched">
                    Surname is required</p>
                <p class="tooltip"
                    *ngIf="registerForm.controls.Surname.errors?.pattern && registerForm.controls.Surname.touched">
                    Only letters</p>
            </div>
            <button (click)="register()" [disabled]="registerForm.invalid">Register</button>
        </div>
        <div class="login-btn">
            <p>Already have an account? <button (click)="openLoginForm()" class="underline">
                    <p>Sign in here</p>
                </button></p>
        </div>
    </div>
</div>