<div class="row">
    <div class="col-70">
        <div class="lot" *ngIf="!!lot">
            <div class="header-text">
                {{lot?.nameLot}} <a class="unstar" id="star-{{lot.id}}" (click)="changeStar(lot.id)">&#9733;</a>
            </div>
            <div class="description-text">
                <p>{{lot?.description}}</p>
            </div>
            <div class="collage">
                <div class="main-img">
                    <img [src]="createImgPath(lot.image)" alt="main-picture">
                    <div class="timer">
                        <p class="time" id="timer-{{lot.id}}"></p>
                    </div>
                </div>
                <div class="flex-images">
                    <div class="img-1">
                        <img [src]="createImgPath(lot.images?.image1)" alt="lotpicture">
                    </div>
                    <div class="img-2">
                        <img [src]="createImgPath(lot.images?.image2)" alt="lotpicture">
                    </div>
                    <div class="img-3">
                        <img [src]="createImgPath(lot.images?.image3)" alt="lotpicture" (click)="showImages()" />
                    </div>
                </div>
                <div class="bid-btn">
                    <a *ngIf="!lot.isSold;else isSoldBut" [disabled]="userId===lot?.userId" (click)="placeBid()">#Place
                        Bid</a>
                    <ng-template #isSoldBut><a disabled style="background: grey;">#Is sold</a></ng-template>
                </div>
            </div>
            <div class="grid">
                <table>
                    <tr>
                        <td>#Current bid</td>
                        <td>{{lot.currentPrice|currency}}</td>
                    </tr>
                    <tr>
                        <td>#Comments</td>
                        <td>{{comments?.length}}</td>
                    </tr>
                    <tr>
                        <td>#Bids</td>
                        <td>{{lot.lotState?.countBid}}</td>
                    </tr>
                    <tr>
                        <td>#Owner</td>
                        <td>{{lot.user?.name}} {{lot.user?.surname}}</td>
                    </tr>
                    <tr>
                        <td>#Email</td>
                        <td>{{lot.user?.email}}</td>
                    </tr>
                </table>
            </div>
            <div class="author-description" *ngIf="!!authorDescription?.description">
                <div class="description">
                    <div class="header">{{lot.user?.name}} {{lot.user?.surname}}</div>
                    <div>{{authorDescription?.description}}</div>
                </div>
            </div>
            <app-comments [lot]="lot" [userId]="userId" [comments]="comments" [filtredComments]="filtredComments">
            </app-comments>
        </div>
    </div>
    <div class="col-30">
        <app-fresh-lots [lot]="lot"></app-fresh-lots>
    </div>
</div>
<div class="ask-owner-btn" *ngIf="userId!==lot?.userId">
    <a (click)="openAskForm()">Chat</a>
</div>