<div class="header-text">
    <p>Comments & Bids </p>
    <div class="filter-comm">
        <a (click)="newest()">Newest</a>
        <a (click)="sellerCommnets()">Seller comments</a>
        <a (click)="bidHistory()">Bid history</a>
    </div>
</div>
<hr>
<div class="comment-form">
    <form method="post" #createCommentForm="ngForm" (ngSubmit)="createComment(createCommentForm)">
        <input type="text" name="Text" #Text="ngModel" ngModel required minlength="2" id="Text"
            placeholder="Add coment ...">
        <button *ngIf="!lot.isSold;else comDisab" [disabled]="Text.invalid">&#8595;</button>
        <ng-template #comDisab>
            <button disabled style="background: grey;">&#8595;</button>
        </ng-template>
    </form>
</div>
<div class="comments">
    <div *ngFor="let comment of filtredComments | sort : 'desc':'dateTime'">
        <div class="comment">
            <div class="head">
                <div class="author">{{comment.author}} {{comment.dateTime | date:'MMMM d, y'}}</div>
                <div class="seller" *ngIf="comment.userId===lot.userId">Seller</div>
                <div class="delete" *ngIf="comment.userId===userId && !comment.isBid">
                    <a (click)="deleteComment(comment.id)">&times;</a>
                </div>
            </div>
            <div class="comment-text">
                <div [ngClass]="{isBid:comment.isBid}">
                    {{comment.text}}
                </div>
            </div>
        </div>
    </div>
</div>