<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="login-form">
    <div class="login-content">
        <div>
            <span (click)="close()" class="close" title="Close Modal">&times;</span>
        </div>
        <div class="container" [formGroup]="loginForm">
            <p>Sign in</p>
            <div class="has-tooltip">
                <input type="text" placeholder="Enter email" name="email" formControlName="email" email>
                <p class="tooltip"
                    *ngIf="loginForm.controls.email.errors?.required && loginForm.controls.email.touched">
                    email is required</p>
                <p class="tooltip" *ngIf="loginForm.controls.email.errors?.email && loginForm.controls.email.touched">
                    Incorect email</p>
            </div>
            <div class="has-tooltip">
                <input type="password" placeholder="Enter password" name="email" formControlName="password">
                <p class="tooltip"
                    *ngIf="loginForm.controls.password.errors?.required && loginForm.controls.password.touched">
                    password is required</p>
                <p class="tooltip"
                    *ngIf="loginForm.controls.password.errors?.minlength && loginForm.controls.password.touched">
                    Min length 6</p>
            </div>
            <button (click)="login()" [disabled]="loginForm.invalid">Login</button>
        </div>
        <div class="regis-btn">
            <button (click)="openResetForm()" class="underline">
                <p>Forgot password?</p>
            </button>
        </div>
        <div class="center">
            <app-facebook-login></app-facebook-login>
            <app-google-login></app-google-login>
        </div>
        <div class="regis-btn">
            <p>Need to create an account? <button (click)="openRegisterForm()" class="underline">
                    <p>Sign up here</p>
                </button></p>
        </div>
    </div>
</div>