<hr>
<div class="navbar">
    <div class="main-page">
      <a routerLink="">Cars & Bids</a>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Auctions</button>
      <div class="dropdown-content">
        <a routerLink="">Live auctions</a>
        <a routerLink="/sold-lots">Past Results</a>
      </div>
    </div>
    <div class="dropdown" *ngIf="IsAuthenticated===true">
       <button class="dropbtn">Cabinet</button>
       <div class="dropdown-content">
         <a routerLink="/userlots">My Lot</a>
         <a routerLink="/createlot">Create Lot</a>
         <a routerLink="/userbids">My Bid</a>
         <a routerLink="/favorites">Favorite &#9733;</a>
         <a routerLink="/admin" *ngIf="IsAdmin">Admin</a>
       </div>
     </div> 
     <div> 
       <app-login></app-login>
     </div>
</div>
<hr>

