<div>
  <div> 
    <app-menu [IsAdmin]="IsAdmin"></app-menu>
  </div>
  <div> 
  <router-outlet></router-outlet>
  </div>
</div>
  <div class="tfoot">
    <hr>
    <div class="common-row">
      <div class="col-3">
        <div class="header">
          <p>HOW IT WORKS</p>
        </div>
        <p>Buying a car</p>
        <p>Selling a Car</p>
        <p>Finalizing the Sale</p>
        <p>FAQs</p>
      </div>
      <div class="col-3">
        <div class="header">
          <p>SELLERS</p>
        </div>
        <p>Submit Your Car</p>
        <p>Photography Guide</p>
      </div>
      <div class="col-3">
        <div class="header">
          <p>HELPFUL LINKS</p>
        </div>
        <p>Support</p>
        <p>Shop C&B Merch</p>
      </div>
    </div>
  </div>





