<div class="lots" *ngIf="!!lots?.length; else empty">
    <div *ngFor="let lot of lots">
        <div class="card">
            <div class="timer" id="timer-{{lot.id}}"></div>
            <img [src]="createImgPath(lot.image)" alt="profile picture">
            <div class="main-block">
                <div class="header">{{lot.nameLot}}</div>
                <div class="title">{{lot.description}}</div>
            </div>
            <div class="row">
                <button class="btn" routerLink="/userlots/updatelot/{{lot.id}}" [disabled]="lot.isSold">
                    <i class="fa fa-edit" awesomeTooltip="Edit lot"></i>
                </button>
                <button class="btn" (click)="deleteLot(lot.id)">
                    <i class="fa fa-trash" awesomeTooltip="Delete lot"></i>
                </button>
                <div class="has-tooltip">
                    <button class="btn" (click)="endBid(lot)" [disbled]="lot.isSold">
                        <i class="fa fa-close"></i></button>
                    <div class="tooltip">
                        <div *ngIf="!lot.isSold">
                            <p>Close Bid</p>
                            <p>Start price {{lot.startPrice | currency}}</p>
                            <p>Current Bid {{lot.currentPrice | currency}}</p>
                        </div>
                        <div *ngIf="lot.isSold">
                            <p>Sold for {{lot.currentPrice | currency}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #empty>
    <app-empty-view [text]="emptyText"></app-empty-view>
</ng-template>