<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="sort">
  <button mat-button [matMenuTriggerFor]="sortprice">Sort By Price</button>
  <mat-menu #sortprice="matMenu">
    <button (click)="sortingData(null,'')" mat-menu-item>Remove filter</button>
    <button (click)="sortingData(SortViewMode.asc,'currentPrice')" mat-menu-item>Ascending</button>
    <button (click)="sortingData(SortViewMode.desc,'currentPrice')" mat-menu-item>Descending</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="sortdate">Sort by Date</button>
  <mat-menu #sortdate="matMenu">
    <button (click)="sortingData(null,'')" mat-menu-item>Remove filter</button>
    <button (click)="sortingData(SortViewMode.asc,'startDateTime')" mat-menu-item>Ascending</button>
    <button (click)="sortingData(SortViewMode.desc,'startDateTime')" mat-menu-item>Descending</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="sortyear">Sort by Date</button>
  <mat-menu #sortyear="matMenu">
    <button (click)="sortingData(null,'')" mat-menu-item>Remove filter</button>
    <button (click)="sortingData(SortViewMode.asc,'year')" mat-menu-item>Ascending</button>
    <button (click)="sortingData(SortViewMode.desc,'year')" mat-menu-item>Descending</button>
  </mat-menu>
</div>
<div class="differ"></div>
<div class="lots">
  <hr>
  <div *ngFor="let lot of lots | sort:sortMode:sortField">
    <div class="card" *ngIf="!lot.isSold">
      <img [src]="createImgPath(lot.image)" alt="profile picture">
      <div class="timer">
        <p id="demo-{{lot.id}}"></p>
      </div>
      <div class="favorite">
        <a id="star-{{lot.id}}" class="unstar" (click)="changeStar(lot.id)">&#9733;</a>
      </div>
      <div class="main-block">
        <h1>{{lot.nameLot}}</h1>
        <p class="title">{{lot.description}}</p>
      </div>
      <p><button routerLink="/lot/{{lot.id}}">Bid {{lot.currentPrice | currency}}</button></p>
    </div>
  </div>
</div>