 <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div *ngFor="let num of numbers;let i=index" class="image">
        <img [src]="createImgPath(myForm.controls['Image'+(i+1)])">
        <input type="file" formControlName="Image{{i+1}}" name="Image{{i+1}}" (change)="onFileChange($event, 'Image'+(i+1),(i+1))" multiple
        onclick="this.value=null" />
       <!--   <button type="button" id="but-9" class="btn btn-success" (click)="file.click()" >upload</button> -->
        <div class="cancel">
            <button (click)="deletePhotoByPath(myForm.controls['Image'+(i+1)],'Image'+(i+1))" 
            *ngIf="myForm.controls['Image'+(i+1)].length>0">x</button>
        </div>
    </div>
    <button type="submit">Submit</button>
</form>
<!--  <form method="post" #createLotForm="ngForm" (ngSubmit)="createLot(createLotForm)">
    <div *ngFor="let lot of numbers; let i=index">
        <div class="cancel">
            <button (click)="deletePhoto(images['image'+(i+1)],'image'+(i+1))" *ngIf="images['image'+(i+1)]">x</button>
        </div>
        <img [src]="createImgPath(images['image'+(i+1)])" *ngIf="images['image'+(i+1)]">
        <input type="file" #file placeholder="Choose file" (change)="upload(file.files,'image'+(i+1),(i+1))" style="display:none;" 
        multiple required  onclick="this.value=null">
        <div class="upload">
            <button type="button" id="but-{{i+1}}" class="btn btn-success" (click)="file.click()" >+</button>
        </div>
    </div>
</form> -->