<div class="lots">
    <div class="text-line">
        <p>Your favorite lots</p>
    </div>
    <app-hr></app-hr>
    <div *ngFor="let lot of lots">
        <div class="card" *ngIf="!lot.isSold">
            <img [src]="createImgPath(lot.image)" alt="profile picture">
            <div class="favorite">
                <a id="star-{{lot.id}}" class="unstar" (click)="changeStar(lot.id)">&#9733;</a>
            </div>
            <div class="main-block">
                <p>{{lot.nameLot}}</p>
                <div class="title">{{lot.description}}</div>
            </div>
            <button routerLink="/lot/{{lot.id}}">Bid {{lot.currentPrice | currency}}</button>
        </div>
    </div>
</div>